name: "Callable Docker"

on:
  workflow_call:
    inputs:
      cache-key:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      DOCKERHUB_USER:
        required: true
      DOCKERHUB_ACCESS_TOKEN:
        required: true
      DOCKERHUB_REPOSITORY:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4
      - name: Download from cache
        uses: actions/cache@v4
        with:
          path: ./target
          key: ${{ inputs.cache-key }}
          fail-on-cache-miss: true
      - name: Login to DockerHub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Build and Push Docker Image to DockerHub
        uses: docker/build-push-action@v6.12.0
        with:
          push: true
          context: ${{ github.workspace }}
          tags: ${{ secrets.DOCKERHUB_USER }}/${{ secrets.DOCKERHUB_REPOSITORY }}:latest,${{ secrets.DOCKERHUB_USER }}/${{ secrets.DOCKERHUB_REPOSITORY }}:${{ inputs.environment }}
