name: "Callable Deploy"

on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      environment:
        required: true
        type: string
      app-version:
        required: true
        type: string
    secrets:
      DEPLOYMENT_USER:
        required: true
      DEPLOYMENT_HOST:
        required: true
      DEPLOYMENT_PORT:
        required: true
      DEPLOYMENT_SSH_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy on Server
        uses: appleboy/ssh-action@v1.2.4
        with:
          username: ${{ secrets.DEPLOYMENT_USER }}
          host: ${{ secrets.DEPLOYMENT_HOST }}
          port: ${{ secrets.DEPLOYMENT_PORT }}
          key: ${{ secrets.DEPLOYMENT_SSH_KEY }}
          script: -a ${{ inputs.app }} -e ${{ inputs.environment }} -t ${{ inputs.app-version }}